<!DOCTYPE html>
<html>

<head>
  <title>File Not Found :(</title>
  <link rel='stylesheet' href='../static/risotto.css'>
  <link rel='icon' href='../static/chisq.ico'>
  <style>
    h1 {
      margin-top: 200px;
    }

    h3 {
      color: hsl(146, 25%, 55.5%);
    }

    img {
      width: 300px;
      margin-top: 40px;
    }

    button {

    }
  </style>
</head>

<body>
  <h1>File could not be located :(</h1>
  <h3>Did you enter the right path?</h3>
  <img src='../static/brian.png'><br>
  <button style='margin-top: 50px' onclick="window.open(href='/', '_self')">Back</button>
</body>

</html>
